@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #1a1a1a;
  background-color: #f5f5f5;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f5f5;
  color: #1a1a1a;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

